
.background_image{
    
        max-width: 100%;
        height: auto;
      
}

.guide_photo{
    height:100px;
    width: 100pxx;
    size: 100px;
}
.guide_table{
    color: red;
    font: size 100;
}